{% extends 'gp_app/base_template.html' %}


{% block content %}
<h1>All Businesses</h1>
{% if business_list %}
<div class="list">
    <ul class="list-group">
        {% for i in business_list %}
        <li class="list-group-item" data-bs-theme="dark">
        <p><strong>{{ i.name }}</strong></p>
        <p>{{i.address}}, {{i.city}}
        </p>
        <a class="btn btn-primary" href="{{ i.get_absolute_url }}" role="button">GO</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}
<p>There are no businesses registered.</p>
{% endif %}
{% endblock %}