<!-- inherit from base.html -->
{% extends 'gp_app/base_template.html' %}


<!-- Replace block content in base_template.html -->
{% block content %}

<h2>Businesses in {{city}} area</h2>
<ul class="list-group">
{% for i in businesses_in_city %}
<li class="list-group-item">
<p><strong>{{ i.name }}</strong></p>
<p><strong>Currently:</strong>
    {%if i.is_open %}
     Open
    {%else%}
     Closed
    {% endif %}
</p>
<a class="btn btn-primary" href="{{ i.get_absolute_url }}" role="button">View</a>
</li>
{% endfor %}
</ul>

{% endblock %}