{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Game Plan</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
    .dark-mode {
      background-color: #222;
      color: white;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

    .center {
      text-align:center;
    }

    .access{
      float: right;
      height: 50px;
      width: 50px;
    }

    .font_size{
      font-size: large;
    }
</style>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>

<body>
  <div class="font_size center">
    <h3>Where to Watch</h3>
    <button class="access" onclick="dark()"><img border="0" alt="Toggle Dark Mode" src="{% static 'images/dark.jpg' %}"></button>
  <script>
    function dark() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    }
  </script>
  <p>
    <img class="img" border="0" alt="GAME PLAN" src="{% static 'images/gp_logo.png' %}">
  </p>
  <label class="center">Choose Your Location </label>
    <select id="menu" name="links" size="1" onchange="window.location.href=this.value;">
      {% for city in cities %}
          <option value="{%url 'index_city' city %}">{{city}}</option>
      {% endfor %}
    </select>
    {% if request.user.is_authenticated %}
        <p><a href="{%url 'index'%}">{{user.username}}</a></p>
        <p><a href="{% url 'logout' %}">Logout</a> </p>
    {% else %}
        <p><a href="{% url 'login'%}">User Login/Register</a></p>
    {% endif %}
  </div>
  
</body>